


<!DOCTYPE html>
<html lang="en"  ng-app="myapp">
    <head>
        <title>Vendor's</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/materialize.min.css" />
        <link rel="stylesheet" type="text/css" href="css/search.css">
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Rancho&effect=shadow-multiple" rel="stylesheet" type='text/css'/>
        <script src="node_modules/jquery/dist/jquery.min.js"></script>
        <script src="css/materialize-css/dist/js/materialize.min.js"></script>
        <script src='node_modules/angular/angular.js'></script>
        <script src='node_modules/angular-route/angular-route.js'></script>
        <script src='/node_modules/angular-jwt/dist/angular-jwt.js'></script>
        <script src='./app.js'></script>    
        <script src='./view_controller/angular_controller.js'></script>    
        <script src='./view_controller/register_controller.js'></script>   
        <script src='./view_controller/login_controller.js'></script> 
        <script src='./view_controller/search_controller.js'></script>
        <script src='./view_controller/search_results_controller.js'></script>
        <script src='/navigation_directive/navigation-directive.js'></script>
        <script src='/navigation_directive/search-directive.js'></script>
        <script src='/auth/auth-factory.js'></script>   
        <script src='/auth/auth-interceptor.js'></script>   


    </head>
    <body>
        <bar-navigation> </bar-navigation>
        <search-element></search-element>
        <div class="container">
            <div ng-view > </div>
        </div>
    </body>
</html>