 

    
       <div class="row">
            <div class="col s12 m4 l4"
                 ng-repeat="product in vm.searchProducts">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                        <a href="#/item/{{product.providerId}}/{{product.externalItemId}}">
                            <img ng-src="{{product.imageUrl}}"
                                 alt="Product Image">
                        </a>
                        <div id="search-product-badge"
                             class="chip"
                             ng-if="product.providerId=='10001'">
                            eBay
                        </div>
                        <div id="search-product-badge"
                             class="chip"
                             ng-if="product.providerId=='10002'">
                            Amazon
                        </div>
                        <!--<span class="badge" id="search-product-badge"  >eBay</span>-->
                        <!--<span class="card-title">{{product.title[0] | removeDoubleQuotes}}</span>-->
                    </div>
                    <div class="card-content">
                           <span class="card-title activator">
                            {{product.title| limitTo:55}}
                            <i class="material-icons right">more_vert</i>
                        </span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">{{product.title}}<i class="material-icons right">close</i></span>
                        <p ng-if="product.providerId=='10002'">
                            Provider : Amazon
                        </p>
                        <p ng-if="product.providerId=='10001'">
                                 Provider : ebay
                        </p>
                        <div class="card-action center">
                            <a href="#/item/{{product.providerId}}/{{product.externalItemId}}">More Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

       
       
       
       
       
       <!--<div id="products" class="row list-group">
<div class="item  col-xs-4 col-lg-4" ng-repeat="product in vm.searchProducts">
            <div class="thumbnail" id='thumbnail'>
                <img class="group list-group-image"  ng-src="{{product.imageUrl}}" alt="" />
                
                <div class="caption" id='caption'>
                    <h4 class="group inner list-group-item-heading">
                        {{product.title}}</h4>
                    <p class="group inner list-group-item-text">
                      {{product.description}}</p>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                            <p class="lead">
                               {{product.price}}</p>
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" >Add to cart</a>
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
       </div>-->
  